# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\pythonProject\qiangcai_007\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/inspectionProfiles/Project_Default.xml
/qiangcai_007.iml
/vcs.xml
